.sidenav {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #111;
  padding-top: 2%;
}

.sidenav a {
  padding: 6% 0% 5% 15%;
  text-decoration: none;
  font-size: 90%;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: white;
  background-color: gray;
}
.active {
  background-color: black;
  color: white !important;;
}